<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add 
      name="Banco"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Glaucia\Documents\Visual Studio 2012\Projects\Exemplos Curso - Coti Informatica 2014\Aula_06\Site\App_Data\Banco.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient"
      />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
